.LoginPage .background-login {
  background-image: url("../../assets/Louvre_Cour_Carree.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: fixed;
  top: 0;
  left: 300;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.LoginPage .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 430px;
  width: 100%;
  background: rgba(0, 66, 37, 0.8);
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(7px);
}

.LoginPage .input-container {
  display: flex;
  justify-content: center;
  background-color: #dcb253;
  height: 60px;
  margin-bottom: 20px;
  border-radius: 10px;
}
.LoginPage .input-container img {
  margin-top: 15px;
  margin-right: 8px;
  margin-left: 10px;
  width: 30px;
  height: 30px;
  color: white;
}

.LoginPage .container .registration {
  display: none;
}

.LoginPage #check:checked ~ .registration {
  display: block;
}
.LoginPage #check:checked ~ .login {
  display: none;
}
.LoginPage #check {
  display: none;
}

.LoginPage .container .form {
  padding: 2rem;
}

.LoginPage .form header {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.5rem;
  color: white;
}
.LoginPage .form input {
  height: 60px;
  width: 90%;
  padding: 0 15px;
  font-size: 17px;
  margin-bottom: 1.3rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  outline: none;
}

.LoginPage #send {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.LoginPage .form input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
.LoginPage .form a {
  font-size: 16px;
  color: #dcb253;
  text-decoration: none;
}
.LoginPage .form a:hover {
  text-decoration: underline;
}

.LoginPage .form input.button {
  width: 100%;
  margin-left: 0px;
  color: #ffffff;
  border: none;
  background: #dcb253;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 15px;
  cursor: pointer;
  transition: 0.4s;
}
.LoginPage .form input.button:hover {
  transition: 0.3s;
  background-color: #ffd575;
  color: rgb(0, 0, 0);
}

.LoginPage .signup {
  font-size: 17px;
  text-align: center;
  color: white;
}
.LoginPage .signup label {
  color: #dcb253;
  cursor: pointer;
}
.LoginPage .signup label:hover {
  text-decoration: underline;
}
